html,
body{
    height: 100%;
    width: 100%;
    background: url("./assets/21\ table.jpeg") no-repeat center fixed;
    background-size: cover;
}
@keyframes colorChange{
    0%, 100% {
        color: black;
    }
    50% {
        color: red;
    }
}
a{
    /* margin-right: 50px;
    margin-left: 50px; */
    grid-column: 1;
    /* height: fit-content; */
    /* width: fit-content; */
    padding: 0px;
    color: white;
}

a:hover{
    color: blue;
}

.start-black{
    font-size: 50px;
    font-weight: bold;
    animation: colorChange 1s infinite;
    display: inline-block;
}

@keyframes colorChange2{
    0%, 100% {
        color: red;
    }
    50% {
        color: black;
    }
}

.start-red{
    font-size: 50px;
    font-weight: bold;
    animation: colorChange2 1s infinite;
    display: inline-block;
    
}

.header-one,
.header-two{
    padding: 10px;
    font-size: 50px;
    grid-column: 2/5;
    text-align: center;
}
.header-two{
    display: none;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
}
.player-hand{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    grid-row: 5;
    grid-column: 3;     
}
#players-count{
    text-align: center;
    color: greenyellow;
}
.dealer{
    grid-column: 3;
    grid-row: 2;
}

#dealers-count{
    text-align: center;
    font-size: 50px;
    color: red;
    font-style: italic;
}
.middle-header{
    font-size: 40px;
    display: flex;
    grid-row: 2;
    grid-column: 3;
    justify-content: center;
    align-items: center;
}
.card img{
    height: 175px;
}

.players-hand,
.dealers-hand,
#wager-label{
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: center;
}

.player-hand{
    min-width: 400px;
}

#dealers-count{
    font-size: 30px;
    color: red;
}
#players-count{
    font-size: 30px;
    color: greenyellow;

}

.player-moves{
    align-items: center;
    justify-content: center;
    display: flex;
    grid-row:6;
    grid-column:3
}

.wager{
    text-align: center;
    grid-row: 3;
    grid-column: 3;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.wager-amount{
    text-align: center;
    color: greenyellow;
}


form{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.reset{
    display: none;
}

form button{
    font-size: 18px;
    font-weight: bold;
    
}
.draw{
    display: none;

}
.hold{
    display: none;
}

#points{
    width: 50px;
}

.points-won{
    text-align: center;
    color: green;
    grid-column: 2;
    grid-row: 6;
}

.points-lost{
    text-align: center;
    color: red;
    grid-column: 4;
    grid-row: 6;
}
.default{
    display: none;
    text-align: center;
    grid-row: 3;
    grid-column: 3;
    color: wheat;
}
.error{
    display: none;
    margin-top: 10px;
    color: white;
    border: 3px solid red;
    background: red;
}

.win-message{
    display: none;
    font-size: 50px;
    text-align: center;
    color: red;
    grid-column: 3;
    grid-row: 3;
}
/* @media{
    max
} */
@media(max-width:848px){
    a{
        margin-right: 30px;
        align-self:self-end
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-one{
        display: none;
    }

    .header-two{
        display: block;
    }
    .players-hand{
        flex-wrap: wrap;
    }
    .card img{
        height: 150px;
    }

}