html,
body{
    height: 100%;
    width: 100%;
    background: url("./assets/21\ table.jpeg") no-repeat center fixed;
    background-size: cover;
}
header{
    font-size: 50px;
    grid-column: 3;
    text-align: center;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
}
.players-hand{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    grid-row: 5;
    grid-column: 3;     
}
#player-count{
    color: greenyellow;
}
.dealer{
    grid-column: 3;
    grid-row: 2;
}

#dealers-count{
    text-align: center;
    font-size: 50px;
    color: red;
    font-style: italic;
}
.middle-header{
    font-size: 40px;
    display: flex;
    grid-row: 2;
    grid-column: 3;
    justify-content: center;
    align-items: center;
}
.card img{
    height: 200px;
}

label{
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: center;
}

.player-moves{
    align-items: center;
    justify-content: center;
    display: flex;
    grid-row:6;
    grid-column:3
}

.wager{
    display: flex;
    flex-direction: column;
    grid-row: 3;
    grid-column: 3;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}


form{
    margin-left: 40px;
    margin-right: 20px;
}

form button{
    font-size: 18px;
    font-weight: bold;
}

.points-won{
    color: green;
    grid-column: 2;
    grid-row: 6;
}

.points-lost{
    color: red;
    grid-column: 4;
    grid-row: 6;
}
.default{
    display: none;
    text-align: center;
    grid-row: 3;
    grid-column: 3;
    color: wheat;
}
@media(max-width:768px){
    main{
        grid-template-columns: 1fr;
    }
    .players-hand{
        flex-wrap: wrap;
    }
    .wager{
        display: inline;
        
    }
}