@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Inconsolata&display=swap');

html,
body{
    height: 100%;
    width: 100%;
    font-family: Inconsolata;
    background: url("../assets/Moon.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
}
#welcome-message{
    margin: 100px 0px 0px 30px;
    font-family: Karla;
    color: white;
    font-size: 55px;
    font-style: italic;
}
.game-link{
    color: white;
    text-align: right;
    margin-right: 20px;
    margin-top: 30px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.about-section{
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 75px;
}
.about-me{
    display: flex;
    flex-direction: column;
}

.about-text{
    line-height: 25px;
    width: 700px;
    flex-wrap: wrap;
    font-size: 20px;
}
.project-section{
    border-top: 5px solid aquamarine;
    border-top-left-radius: 80px;
    padding-top: 30px;
    padding-right: 0px;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 30px;
    border-bottom: 5px solid magenta;
    border-bottom-right-radius: 100px;
    padding-bottom:30px;
    padding-left: 10px;
}
.project-header{
    color: aquamarine;
    font-weight: bold;
    margin: 0px;
    padding-top: 30px;
    padding-left: 10px;
}
.project-body{
    margin-bottom: 200px;
    margin-left: 10px;
    margin-right: 30px;

}

.project-links{
    list-style-type: none;
}
.project-links li{
    margin-top: 30px
    
}
.project-links a{
    color: rgb(171, 141, 199);
    font-family: Karla;
}


.contacts{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.footer-img{
    width: 125px;
}

footer{
    margin-top: 20px;
    border-top: 2px solid white;
}

footer *{
    align-items: center;
    justify-content: center;
}

footer li{
    margin: 0px 200px 0px 200px;
    
}

.footer-header{
    text-decoration: underline;

}

@media(max-width:1140px){
    footer *{
        display: flex;
        flex-direction: column;
    }
    footer li{
        margin: 0px 50px 0px 50px;
    }
    main{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .project-body{
        margin-bottom: 100;
    }
    .footer-img{
        width: 100px;
    }
}